@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam&family=Barlow&family=Open+Sans&family=PT+Sans&family=Poppins:wght@500&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.home, .reports, .products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}